.table-game {
  width: 600px;
  margin: 100px auto;
  border: 5px solid grey;
  border-radius: 8px;
}

.container-item {
  width: 100%;
  background-color: rgb(17, 166, 230);
  position: relative;
  text-align: center;
  font-weight: 600;
  color: white;
  padding: 20px;
}
.table-point {
  text-align: left;
  position: absolute;
  left: 20px;
  top: 20px;
}

#add-user input {
  width: 70%;
  border: none;
  background-color: rgba(185, 224, 241, 0.757);
  padding: 5px;
}

#add-user {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

table td:nth-child(2) {
  width: 70%;
}

table button {
  width: 35px;
  border: none;
  padding: 10px;
  background-color: rgb(212, 210, 210) !important;
  color: rgb(62, 60, 60) !important;
}
span {
  width: 35px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.table > :not(caption) > * > * {
  padding: 0 !important;
}

td {
  vertical-align: middle;
  padding: 5px;
}
