.control-group {
  display: flex;
  gap: 20px;
  margin: 30px 50px;
}

.control-group > button {
  white-space: nowrap;
  flex: 3;
}

.control-group > .input-group {
  flex: 7;
  height: 100%;
  margin-bottom: 0;
}

.input-group input {
  height: 100%;
}

.active {
  background-color: rgb(59, 117, 225);
  color: white;
}

.nav-item > input {
  border: none;
}
